/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #0D111AFF;
    background-alt: #1A2845FF;
    foreground:     #FFFFFFFF;
    selected:       #455E82FF;
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
